<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Kifome"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kifome"
        tools:targetApi="31">
        <activity
            android:name=".GerenciamentoProdutosActivity"
            android:exported="false" />
        <activity
            android:name=".RestauranteEditarCardapioInterface1"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".ConfiguracoesClienteInterface1"
            android:exported="false" />
        <activity
            android:name=".CardapioClienteInterface2"
            android:exported="false" />
        <activity
            android:name=".CardapioClienteInterface1"
            android:exported="false" />
        <activity
            android:name=".cardapioclienteinterface1"
            android:exported="false" />
        <activity
            android:name=".cardapiointerface1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>